:root{
  background-color: green;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  font-size: 4em;
}

.weatherBubbles{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather{
  width: max-content;
  padding: 1% 10%;
  border-radius: 25px;
}

h1{
  font-size: large;
}

.day{
  padding: 1% 10%;
  border-radius: 25px;
  background-color: rgb(224, 189, 92);
  color:black;
}

.night{
  background-color: rgb(23, 15, 97);
  color:white;
}
